@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --primary-color: #92D293;
    --secondary-color: white;
}

*,::before,::after{
    margin: 0;
    font-family: 'Poppins', sans-serif;;
}

nav{
    height: 100vh;
    width: 12vw;
    background-color: var(--primary-color);
    position: fixed;
}
.nav__button{
    width: 8vw;
    padding: 10px;
    margin-left: -10px;
    background-color: blue;
    display: flex;
}

.nav__list{
    margin-top: 40vh;
    list-style: none;
}

.nav__link{
    text-decoration: none;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin: 5px;
}

.home__square{
    height: 20px;
    width: 20px;
    border-radius: 5px;
    display: inline-block;
    border: var(--secondary-color) solid 1px;
    background-color: transparent;
}

.home__roof{
    
}