@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://css.gg/all.css');

:root{
    --primary-color: #92D293;
    --secondary-color: white;
    --bg-color: #f8f8f8;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
}

/* NAVIGATION */
.nav__bar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--primary-color);
    transition: .3s ease;
}

.nav__bar:hover{
    width: 16rem;
}

.nav__logo{

}

.nav__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav__item{
    width: 100%;
    padding: 1rem;
}
.nav__text{
    display: none;
}

.nav__link{
    display: flex;
    align-items: center;
}

nav:hover .nav__text{
    display: block;
}

nav:last-child{
    margin-top: auto;
}
/* ICONS */

.gg-home, .gg-user, .gg-screen{
    color: var(--secondary-color);
    border-radius: 2px;
}

main{
    position: relative;
    width: 50%;
    margin: 0 auto;
}

/* HOME */

.home{
    display: inline-flex;
    align-items: center;
    height: 50rem;
}

.profile__pic{
    width: 20rem;
    border-radius: 50%;
}

.home__intro{
    padding: 2rem;
    margin: auto;
}

.home__greeting{
    text-transform: uppercase;
    display: block;
}

.home__name{
    display: block;
    text-transform: uppercase;
    color: var(--primary-color);
}

.home__brief{
    display: block;
}

.home__brief__role{
    display: inline-flex;
    color: var(--primary-color);
}

.home__links{
    display: block;
}

.home__resume{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
}

.home__link{
    text-decoration: none;
}

.about{
    display: block;
    height: 50rem;
}

.info__container{
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
}